img {
    height: 150px;
}

.name {
    font-family: 'Ephesis', cursive;
}

.paragraph {
    font-family: 'Josefin Sans', sans-serif;
}

.name {color: purple;
}

.namelist {color: #FF1B00;
}

.list {
    font-family: 'Roboto Mono', monospace;
}

.namelist {
    font-size: 20px;
}

.paragraph {
    font-size: 20px;
}

.favorite {
    font-size: 20px;
}

.favorite {
    font-family: 'Scheherazade New', serif;
}
